temp/
build/
SVF/
results/*.txt
results/report/report.tex
!results/report/
.idea/
*.jar
__pycache__/
*.egg-info/
.DS_Store
CMakeLists.txt

*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz
_minted-*/
